@import './variables';
html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
}
.main{
    display:grid;
    grid-template-columns: 15% 1fr;
    grid-template-areas: 
    "sidenav main-content";
}

.sidenav{
    grid-area: sidenav;
    background-color: $sidenavBackground;
    height: 100vh;
}

.main-content{
    grid-area: main-content;
    background-color: $mainBackground;
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 30% 1fr;
    grid-template-areas: 
    "row1"
    "row2"
    "row3"
}

.row1{
    grid-area: row1;
    height: 100%;
    background-color: red;
}
.row2{
    grid-area: row2;
    height: 100%;
    background-color: cyan;
}
.row3{
    grid-area: row3;
    height: 100%;
    background-color: pink;
}