@import './variables';
html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
}
.main{
    display:grid;
    grid-template-columns: 15% 1fr;
    grid-template-areas: 
    "sidenav main-content";
}

.sidenav{
    grid-area: sidenav;
    background-color: $sidenavBackground;
    height: 100vh;
}

.main-content{
    grid-area: main-content;
    background-color: $mainBackground;
    height: 100vh;
}